.customButton {
  width: 180px;
  height: 40px;
  border-radius: 10px; 
  border: none;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow; 
  color: #fff; 
  font-size: 20px; 
  padding: 0; 
  
}